.weather-info{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.weather-img{
  background-color: #ffffff;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  align-content: center;
  cursor: progress;
  justify-content: center;
  margin-right:2rem;
}

.weather-icon__img{
  width:3rem;
  height:3rem;
}
.weather-degree{
  margin-right:1rem;
}
.weather-date{
  margin-right:1rem;
}


@media only screen and (max-width: 83.5em) {
  .weather-info{
    color:#333;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.7rem;
    letter-spacing: 5px;
  }
  .weather-icon__img{
    width: 3.7rem !important;
    height: 3.7rem !important;
  }
  .weather-img{
    margin-right: 1.5rem;
    margin-left: 1rem;
    width: 4rem;
    height: 4rem;
    background-color: #0C7B93;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    cursor: progress;
    justify-content: center;
    border: 3px solid #333;
  }
}

