.weather-info{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.weather-img{
  background-color: #FBF2CF !important;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  align-content: center;
  cursor: progress;
  justify-content: center;
  margin-right:2rem;
}

.weather-icon__img{
  width:3rem;
  height:3rem;
}
.weather-degree{
  margin-right:1rem;
}
.weather-date{
  margin-right:1rem;
}


.css-1pahdxg-control{
  border-color:#e80f88 !important;
  box-shadow: 0 0 0 1px #e80f88 !important;
}

@media only screen and (max-width: 84.5em) {

  .weather-info{
    color:#333;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.7rem;
    letter-spacing: 5px;
  }
  .weather-icon__img{
    width: 3.7rem !important;
    height: 3.7rem !important;
  }
  .weather-img{
    margin-right: 1.5rem;
    margin-left: 1rem;
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    cursor: progress;
    justify-content: center;
    border: 3px solid #333;
  }
}


@media only screen and (max-width: 38em) {

  .weather-degree{
    margin-right:1.2rem;
    letter-spacing:1px;
  }
  .weather-info{
    color:#333;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2.7rem;
    letter-spacing: 2.5px;
  }
  .weather-icon__img{
    width: 5.3rem !important;
    height: 5.3rem !important;
  }
  .weather-img{
    margin-right:1.5rem;
    border:1px solid #790252 !important;
    width: 6.5rem !important;
    height: 6.5rem !important;
  }
  .css-1s2u09g-control {
    align-content: center;
    flex-direction: row;
    height: 6rem !important;
    min-height:0 !important;
  }

  .css-1pahdxg-control{
    align-content: center;
    flex-direction: row;
    height: 6rem !important;
    min-height:0 !important;
  }

  .css-1pahdxg-control:hover{
    border-color:#e80f88 !important;
  }
  .css-1okebmr-indicatorSeparator {
    height:1.7rem;
    width: 0.0625rem;
    margin-right:1rem;
  }
  .css-tlfecz-indicatorContainer {
    padding: 0 !important;
  }
  .css-1gtu0rj-indicatorContainer {
    padding: 2px;
  }
  .css-tj5bde-Svg {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
  }
}
