@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Indie+Flower&family=Nixie+One&family=Poppins:wght@400;700&display=swap');


body{
  font-family: 'Comfortaa', cursive;
}

/*components*/

  .container{
    min-height:100vh;
  }

.todo-section{
  display: flex;
  background-color: inherit;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  width: 95%;
  margin: auto;
  padding: 1rem;
  min-width:max-content;
}

.new-todo {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  margin: 3rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 9px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.new-todo button {
  font: inherit;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid #27496D;
  background-color: #27496D ;
  color: #e4e4e5;
  border-radius:  9px;
  font-weight: 700;
}

.new-todo button:hover,
.new-todo button:active {
  background: #fff;
  color: #333;
}

.new-todo input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #27496D;
  width: 40rem;
  max-width: 100%;
}

/*todo-list*/

.list-item {
  width: 51rem;
  margin: 2rem auto;
  max-width: 95%;
}
.list-item ul {
  padding: 0;
}
.list-item li {
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  border: 1px solid #e4e4e4;
  padding-left:   0.5rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  list-style-type: none;
  margin: 20px 0;
  color: #e4e4e4;
  background-color: #27496D;
  font-weight: 400;
  overflow:hidden;
  min-width:fit-content;
}

.list-item li input{
  padding: 1rem;
  font-size: 1.1rem;
  background-color: #27496D;
  border: none;
  color: #e4e4e4;
  font-family: 'Comfortaa';
  cursor: default;
}


.list-item li input:focus {
  outline:none;
}

.list-item li input:active {
  border: 1px solid #27496E;
}


.list-item__buttons {
  display: flex;
  flex-direction: row;
  margin-right:1rem;
  background-color:#27496E
}


.list-item__buttons button {
  background-color:#27496E;
  border:none;
  color:#e4e4e4;
  padding:0.25rem;
}

.list-item__buttons__cl {
  height:1.5rem;
  width:1.5rem;
  cursor:pointer;
}

.list-item__buttons__ed {
  height:1.5rem;
  width:1.5rem;
  cursor:pointer;
}

.list-item__buttons__ch {
  height:1.5rem;
  width:1.5rem;
  cursor:pointer;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #fff;
  opacity: 0.6;
}

.list-item .filters {
  display: flex;
  gap: 10px;
}
.list-item button {
  flex-grow: 1;
}

@media only screen and (max-width: 46em) {

  .list-item li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    min-width:max-content;
  }

  .list-item li input{
    padding: 1.3rem !important;
    font-size: 2rem !important;
    border-radius: 2rem;
  }
}

@media only screen and (max-width: 83.5em) {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    font-size: 16px;
  }

  .container{
    min-width:max-content;
    overflow:scroll;
  }

  .new-todo {
    display: flex;
    flex-direction:column;
  }
  .new-todo button {
    font-size: 2rem !important;
  }

  .new-todo input {
    padding: 1rem !important;
    width: 95% !important;
    margin-bottom: 1rem;
    font-size: 1.5rem !important;
  }
  .list-item li input{
    padding: 1.3rem !important;
    font-size: 2rem !important;
    border-radius:2rem;
  }

  .list-item__buttons__cl {
    height:2.5rem !important;
    width:2.5rem !important;
    cursor:pointer;
  }

  .list-item__buttons__ed {
    height:2.5rem !important;
    width:2.5rem !important;
    cursor:pointer;
  }

  .list-item__buttons__ch {
    height:2.5rem !important;
    width:2.5rem  !important;
    cursor:pointer;
  }
}
