.navbar {
    background-color: #0C7B93;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #e4e4e4;
    font-family: 'Indie Flower';
    font-size: 1.25rem;
    font-weight: 700;
}
.weather-section{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.navbar_search {   
    margin-right: 5rem;
    font-family: 'Comfortaa';
    font-size: 1rem;
    width: 38rem;
    color: #333;
}

.navbar nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.navbar a.brand {
    margin-right: auto;
    color: #e4e4e4;
    text-decoration: none;
    font-size: 1.35rem;
    font-weight: 700;
    overflow-wrap:break-word;
}
.navbar a:last-child {
    color: #e4e4e4;
    text-decoration: none;
    border: 1px solid #e4e4e4;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.navbar a:last-child:hover {
    background: #e4e4e4;
    color: #333;
}

@media only screen and (max-width: 46em) {
    .navbar a.brand {
        font-size: 1.35rem;
        font-weight: 700;
        text-indent: 1rem;
        letter-spacing: 6px !important;
        font-size: 2rem !important;
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 83.5em) {
    .weather-section{
        font-family:'Comfortaa';
        background-color:#fff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding-top:2rem;
        padding:1.5rem;
        border-radius:1.5rem;
        min-height:max-content;
    }
    .navbar nav {
        display: flex;
        align-items: center;
        margin: 0 auto;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        padding-bottom: 1rem;
    }
    .navbar_search{
        font-size: 1.5rem !important;
        width: 30rem;
        color: #333;
        /* left: auto; */
        /* top: 11rem; */
        margin: 2rem auto;
    }
    .css-1s2u09g-control {
        background-color: hsl(0, 0%, 100%);
        border-color: hsl(0, 0%, 80%);
        border-radius: 8px;
        border-style: solid;
        border-width: 1px;
        padding: 1rem;
        cursor: default;
    }
    .navbar a.brand {
        letter-spacing: 15px;
        font-size: 3rem !important;
        margin-top: 2rem;
    }

    .navbar a:last-child {
        margin-top: 2rem;
        font-size: 2rem;
        margin-bottom: 7rem;
        letter-spacing: 7.5px;
        padding: 1.5rem !important;
    }
}
/*
@media only screen and (max-width: 84em) {
    .navbar_search {
        font-family: 'Comfortaa';
        font-size: 1rem;
        color: #333;
    }
}
 */
